@font-face {
    font-family: retroGaming;
    src: url(media/retroGaming.TTF);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: retroGaming;
    background-image: url(media/background.png);
    background-repeat: repeat-x;
    background-color: #11ac0d;
}

.sky {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 500px;
    top: 0px;
    display: fixed;
}

#cloud1 {
    position: relative;
    float: right;
    scale: 0.9;
    animation: panning 100s linear infinite;
}

#cloud2 {
    position: relative;
    float: right;
    scale: 0.8;
    margin-left: 900px;
    animation: panning 150s linear infinite;
}

#cloud3 {
    position: relative;
    float: right;
    scale: 0.6;
    padding-top: 30px;
    animation: panning 200s linear infinite;
}

#cloud4 {
    position: relative;
    float: right;
    scale: 0.5;
    padding-top: 30px;
    margin-left: 900px;
    animation: panning 250s linear infinite;
}

@keyframes panning {
    0% {
        left: 10%;
    }
    100% {
        left: -110%;
    }
}

.leftBarnPanel {
    width: 210px;
    height: 250px;
    margin-top: 480px;
    /* border: 5px solid blue; */
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 550px;
    padding: 5%;
    margin-top: 5%;
}

.humorPanel {
    font-size: large;
    color: papayawhip;
    text-shadow: 1px 4px black;
}

.radio {
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.cicle {
    position: relative;
    text-align: center;    
    width: 110px;    
    height: 60px;
    left: 70px;
    top: 15px;
    padding-top: 15px;
    font-weight: 700;
    font-size: 20px;
    color: #0a0736;
    text-shadow: 1px 4px papayawhip;
    cursor: pointer;
    /* border: 5px solid green; */
}

.barn {
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: -280px;
    margin-top: -155px;
    z-index: -1;
    /* border: 5px solid blue; */
}

.hover {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 400px;
    padding: 5%;
    margin-top: 30%;
}

#img {
    filter: drop-shadow(0px 0px 0px black);
}

#currentHumor {
    font-weight: 900;
    font-size: xx-large;
    color: papayawhip;
    text-shadow: 1px 4px black;
}

.front {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 300px;
    background-color: white;
    position: relative;
    background-color: transparent;
}

.cow {
    position: relative;
}

.eyeL {
    position: absolute;
    display: flex;
    width: 49px;
    height: 31px;
    justify-content: space-evenly;
    top: 38%;
    left: 21.9%;
}

.eyeR {
    position: absolute;
    display: flex;
    width: 49.5px;
    height: 31px;
    justify-content: space-evenly;
    top: 38%;
    left: 47.2%;
}

.pupE {
    position: relative;
    display: flex;
    width: 26px;
    height: 13px;
    background-color: black;
}

.pupR {
    position: relative;
    display: flex;
    width: 26px;
    height: 13px;
    background-color: black;
}

.eylidL {
    position: absolute;
    width: 55px;
    height: 10px;
    top: -9px;
    background-color: black;
}

.eylidR {
    position: absolute;
    width: 55px;
    height: 10px;
    top: -9px;
    background-color: black;
}

.glasses {
    position: absolute;
    top: 45px;
    left: 110px;
    display: none;
    animation: showUp 500ms;
}

@keyframes showUp {
    100% {
        transform: rotate(720deg);
    }

    from {
        top: -600px;
        left: -600px;
    }

    to {
        top: 46px;
    }
}

.lensL {
    position: absolute;
    width: 50px;
    height: 42px;
    top: 145px;
    left: 89px;
    background-color: black;
    opacity: 85%;
}

.lensR {
    position: absolute;
    width: 50px;
    height: 42px;
    top: 145px;
    left: 176px;
    background-color: black;
    opacity: 85%;
}
